
@{
    ViewData["Title"] = "DisplayCurrencies";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>From USD to TRY = @ViewBag.USDTOTRY</h2>

<h2>From EUR to TRY = @ViewBag.EURTOTRY</h2>

<h2>From GBP to TRY = @ViewBag.GBPTOTRY</h2>

