
@{
    ViewData["Title"] = "DisplayCurrencies";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

    <div class="row">
                                  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                      <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                                      </div>
                                      <div class="count">@ViewBag.USDTOTRY</div>

                                      <h3>$ - ₺</h3>
                                      <p>Dolar kuru</p>
                                    </div>
                                  </div>
                                  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                      <div class="icon"><i class="fa fa-comments-o"></i>
                                      </div>
                                      <div class="count">@ViewBag.EURTOTRY</div>

                                      <h3>€ - ₺</h3>
                                      <p>Euro kuru</p>
                                    </div>
                                  </div>
                                  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                      <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                                      </div>
                                      <div class="count">@ViewBag.GBPTOTRY</div>

                                      <h3>£ - ₺</h3>
                                      <p>Sterlin kuru</p>
                                    </div>
                                  </div>
                                  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="tile-stats">
                                      <div class="icon"><i class="fa fa-check-square-o"></i>
                                      </div>
                                      <div class="count">@ViewBag.EURTOTUSD</div>

                                      <h3>€ - $</h3>
                                      <p>Dolar Euro kuru</p>
                                    </div>
                                  </div>
                                </div>



